<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpticBox</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


    {% block extra_js %}{% endblock %}
</head>
<body>
    <header class="header">
        <a href="/" class="header-logo">
            <img src="{{ LOGO_URL }}" alt="OpticBox Logo" class="logo-image">
        </a>
    </header>
    <div class="container">
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>

            {% if request.path == '/' %}
            <div class="fixed-cart">
                {% if draft_request %}
                <a href="{% url 'request_detail' draft_request.id %}" class="cart-link">
                    Корзина ({{ cart_count }} товаров) — {{ total_price }} ₽
                </a>
                {% else %}
                <span class="cart-link disabled">Корзина пуста</span>
                {% endif %}
            {% endif %}


    </div>
</body>
</html>
