{% extends "base.html" %}
{% load static %}
{% block title %}Список линз{% endblock %}

{% block content %}
<!-- Основной контент -->
<div class="main-content">
    <!-- Боковая панель с фильтрами -->
    <aside class="sidebar">
        <div class="filters">
            <h3>Тип:</h3>
            <ul>
                <li>Традиционные линзы</li>
                <li>Прогрессивные линзы</li>
                <li>Линзы для вождения</li>
                <li>Офисные линзы</li>
                <li>Компьютерные линзы</li>
                <li>Контроль миопии</li>
            </ul>
        </div>
        <div class="features">
            <h3>Особенности:</h3>
            <ul>
                <li>Прозрачные</li>
                <li>Фотохромные</li>
                <li>Солнцезащитные</li>
                <li>Поляризованные</li>
                <li>Спортивные</li>
            </ul>
        </div>
    </aside>

    <!-- Список линз -->
    <div class="products">
        {% for lens in lenses %}
            <div class="product-card">
                <img src="{{ lens.image_url }}" alt="{{ lens.name }}" class="product-image">
                <h2 class="product-title">{{ lens.name }}</h2>
                <p class="product-price">Цена: {{ lens.price }} ₽</p>

                <!-- Кнопка "Подробнее" с ссылкой -->
                <a href="{% url 'lenses_detail' lens.id %}" class="details-button">Подробнее</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
